<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			Magic bro...{{test}}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<tabset class="well">
			<tab heading="Login">
				<form style="margin-top:10px">
					<div class="form-group">
						<label for="login_email">Email or Username</label>
						<input type="text" class="form-control" id="login_email" ng-model="user.email" placeholder="Enter email or username" required>
					</div>
					<div class="form-group">
						<label for="login_pass">Password</label>
						<input type="password" class="form-control" id="login_pass" ng-model="user.pass" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
					<pre>{{user|json}}</pre>
				</form>
			</tab>
			<tab heading="Register">
				<form style="margin-top:10px">
					<div class="form-group">
						<label for="register_uname">Username</label>
						<input type="text" class="form-control" id="register_uname" ng-model="register.user" placeholder="Enter a username" required>
					</div>
					<div class="form-group">
						<label for="register_email">Email Address</label>
						<input type="email" class="form-control" id="register_email" ng-model="register.email" placeholder="Enter email" required>
					</div>
					<div class="form-group">
						<label for="register_pass">Password</label>
						<input type="password" class="form-control" id="register_pass" ng-model="register.pass" placeholder="Password" required>
					</div>
					<div class="form-group">
						<label for="register_conf">Confirm Password</label>
						<input type="password" class="form-control" id="register_conf" ng-model="register.conf" placeholder="Confirm password" required>
					</div>
					<button type="submit" class="btn btn-success">Register</button>
					<pre>{{register|json}}</pre>
				</form>
			</tab>
			<tab heading="Frogot Password">
				<form style="margin-top:10px">
					<div class="form-group">
						<label for="login_email">Email or Username</label>
						<input type="text" class="form-control" id="login_email" ng-model="user.email" placeholder="Enter email or username" required>
					</div>
					<button type="submit" class="btn btn-warning">Reset</button>
					<pre>{{user|json}}</pre>
				</form>
			</tab>
		</tabset>
	</div>
</div>